body {
  background-color: white; /* Set background to white */
  color: black; /* Ensure text is visible against white background */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  text-align: center;
}

.scramble-text {
  position: relative;
  display: inline-block;
  width: 250px; /* Fixed width for the container */
  padding: 20px 60px;
  background-color: #b0cd68;
  border: 1px solid #b0cd68;
  color: black;
  clip-path: polygon(10% 0%, 90% 0%, 95% 5%, 100% 30%, 100% 80%, 90% 100%, 10% 100%, 0% 80%, 0% 20%);
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.scramble-text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.scramble-text:hover {
  background-color: black;
  border: 1px solid #b0cd68;
  color: #b0cd68;
}

.button-svg {
  position: absolute;
  top: -10px; /* Adjust as needed */
  right: -10px; /* Adjust as needed */
  width: 30px;
  height: 30px;
}
.button__cap{
    height: 3.5em;
    display: block;
}
